<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A order confirmation email has been sent to <%= @user.email %>.
    </p>
    <p>
      Login to Jungle here: <%= @url %>.
    </p>
  </body>
</html>