.review {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  justify-content: space-around;
  word-break: break-all;

  .review-description {
    margin: 0;
    padding: 5px;
    width: 55%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  .review-rating {
    text-align: left;
    margin: 0;
    padding: 5px;

  }

  .review-heading {
    text-align: left;
  }
}